/*========================================== 00.  GLOBAL (FROM 10 ) [it includes bootstrap edit] 01.  PRELOADER - LINE NO 57 02.  Navbar - LINE NO 168 03.  LEFT CONTENT  - LINE NO 3173 04.  RIGHT CONTENT - LINE NO 3645 05.  FRAMWORKS - LINE NO 3907 06.  MEDIA (RESPONSIVE) - LINE NO 4182 ==========================================*/
/*general style*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

li {
    list-style: none;
}

button {
    border: unset;
    outline: 0;
}

::selection {
    text-shadow: none;
}

.icons {
    height: 30px;
    width: 30px;
}

body {
    background-color: #FDFDFD;
}

/*preloader*/
#preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #f2f4f8;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#preloader {
    overflow: hidden;
    background-color: #f2f4f8;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

#preloader img {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 8;
    -webkit-animation: 2000ms linear 0s normal none infinite running Delvro-thumb;
    animation: 2000ms linear 0s normal none infinite running Delvro-thumb;
}

.Kafel-load {
    -webkit-animation: 2000ms linear 0s normal none infinite running Kafel-load;
    animation: 2000ms linear 0s normal none infinite running Kafel-load;
    background: transparent none repeat scroll 0 0;
    border-color: #ffffff #ffffff #1DBF73;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 200px;
    width: 200px;
    z-index: 10;
}

@-webkit-keyframes Kafel-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes Kafel-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes Delvro-thumb {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    50% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes Delvro-thumb {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    50% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

/*navbar*/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    color: white;
    border-bottom: 2px solid #fff;
    box-shadow: 0px 4px 26px rgba(200, 200, 200, 0.55);
}
.md-hidden 
{
    display: none;
}

.brand-title {
    font-size: 2rem;
    margin: .5rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.brand-title a {
    text-decoration: none;
    display: block;
}

.navbar-links,
.navbar-links-2 {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

.navbar-links ul,
.navbar-links-2 ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li,
.navbar-links-2 li {
    list-style: none;
}

.navbar .navbar-links {
    position: relative;
    top: 10px;
}

.brand-title .logo {
    width: 150px;
    height: auto;
}

.navbar .navbar-links li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-links li i,
.navbar .navbar-links-2 .chat,
.navbar .navbar-links-2 .notifications {
    font-size: 30px;
}

.navbar li i {
    color: #C3C5C8;
}

.navbar-links li a,
.navbar-links-2 li a {
    display: block;
    text-decoration: none;
    color: #444;
    padding: 1rem;
}

.dropdown-menu li a {
    padding: 0;
}

.navbar .dropdown-menu {
    display: none;
}

.navbar .dropdown-menu.active {
    color: #C3C5C8;
    display: block;
    position: absolute;
    top: 100%;
    right: 50px;
    z-index: 1000;
    float: left;
    min-width: 265px;
    padding: 5px 0;
    margin: 2px 0 0;
    padding: 15px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.dropdown-menu li.first-list {
    height: 50px;
}

.dropdown-menu li:first-of-type b:first-of-type {
    color: #333;
    font-size: 14px;
    line-height: 17.07px;
}

.dropdown-menu li:first-of-type b:nth-of-type(2) {
    color: #C3C5C8;
    font-weight: unset;
    position: relative;
    bottom: 16px;
}

.dropdown-menu li:first-of-type ul {
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 45px;
    left: 60px;
}

.dropdown-menu .toggle-theme-color {
    display: unset;
}

.dropdown-menu .toggle-theme-color li {
    display: inline;
}

.dropdown-menu .toggle-theme-color li:first-of-type {
    float: left;
    position: relative;
    top: 0;
}

.dropdown-menu .toggle-theme-color li:last-of-type {
    float: right;
    background: #1DBF73;
    width: 30px;
    border-radius: 10px;
    top: 5px;
}

.dropdown-menu .toggle-theme-color li:last-of-type:active i.fa.fa-circle {
    position: relative;
    left: 14px;
}

.dropdown-menu .languages {
    display: unset;
}

.dropdown-menu .languages a {
    padding: 0;
}

.dropdown-menu .languages li:first-of-type {
    float: left;
}

.dropdown-menu .languages li:last-of-type {
    float: right;
}

.langs:after,
.langs::before {
    content: "\A\A";
    white-space: pre-line;
}

.dropdown-menu .languages li:last-of-type img {
    position: relative;
    top: 4px;
}

.dropdown-menu .settings a {
    padding: 0;
}

.dropdown-menu .toggle-theme-color i.fa.fa-circle {
    color: #FFF;
    position: relative;
    left: 2px;
    cursor: pointer;
}

.dropdown-menu li a,
.dropdown-menu li a i {
    color: #696F79;
}

.dropdown-menu li.logout a,
.dropdown-menu li.logout i {
    color: #F56342;
}

.navbar-links li:hover a,
.navbar-links li:hover i,
.navbar-links-2 li:hover>a,
.navbar-links-2 li:hover>a i,
.navbar-links-2 li:hover,
.navbar-links-2 li:hover {
    color: #1DBF73;
}

.navbar .navbar-links-2 li span {
    background-color: #1DBF73;
    height: 20px;
    width: 20px;
    color: #333;
    font-size: 8px;
    padding: 6px;
    position: absolute;
    bottom: 50px;
    right: 10px;
    border-radius: 50%;
}

.toggle-button {
    position: absolute;
    top: 1.20rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
}

nav .navbar-links-2 ul li.chat,
nav .navbar-links-2 ul li.notifications {
    position: relative;
    top: 10px;
}

/*left side content***********************************************/
/*left-content*/
.left-content {
    padding-top: 64px;
}

/*service-section*/
.service-section ul .rating-stars-left {
    float: left;
}

.service-section ul .rating-right {
    float: right;
}

.left-content .service-section p:first-of-type {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #696F79;
}

.left-content .service-section .rating-stars-left {
    font-size: 16px;
    line-height: 123%;
    letter-spacing: 0.005em;
}

.left-content .service-section .rating-stars-left i:last-of-type {
    color: #E6EAEF;
}

.left-content .service-section ul {
    margin-bottom: 40px;
}

/*carousel*/
.carousel {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel .slides {
    display: flex;
}

.carousel .slide {
    flex: 0 0 100%;
    display: none;
}

.carousel .slide img {
    width: 100%;
    height: auto;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 50px;
    cursor: pointer;
    height: 50px;
    border-radius: 50%;
}

.carousel .prev {
    left: 0;
}

.carousel .next {
    right: 0;
}

.carousel .points {
    text-align: center;
    margin-top: 10px;
    position: relative;
    bottom: 70px;
}

.carousel .point {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0px 30px;
    cursor: pointer;
    top: -10px;
    position: relative;
}

.carousel .point.active {
    background-color: #1DBF73;
}

/* Description */
.description {
    padding-top: 20px;
}

.description {
    padding-top: 20px;
}

.description .description-content {
    font-size: 16px;
    line-height: 123%;
    letter-spacing: 0.005em;
    color: #333333;
    padding: 15px 67px 15px 15px;
    margin: 24px 0px 48px 0;
}

/*service ads-ons*/
.service-add-ons .left {
    float: left;
}

.service-add-ons .right {
    float: right;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #666;
}

.service-add-ons .right span {
    position: relative;
    bottom: 5px;
}

.service-add-ons form {
    margin-top: 10px;
}

.service-add-ons .right:hover {
    cursor: pointer;
}

.service-add-ons section {
    padding: 15px;
    margin-bottom: 16px;
}

.service-add-ons section:last-of-type {
    margin-bottom: 48px;
}

.service-add-ons label {
    font-size: 16px;
    line-height: 123%;
    letter-spacing: 0.005em;
    color: #333333;
}

.service-add-ons input {
    float: left;
    margin-right: 12px;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.service-add-ons input:checked {
    background-color: #1DBF73;
    border: 1px solid #1DBF73;
}

.service-add-ons input::after {
    content: "🗸";
    position: relative;
    left: 3px;
    color: white;
}

input#choice-1:focus {
    outline: 0;
}

.service-add-ons section span {
    font-size: 16px;
    line-height: 123%;
    letter-spacing: 0.005em;
    padding: 4px;
    background: #333;
    border-radius: 8px;
    margin-right: 4px;
}

/*purshace*/
.purshace {
    margin-top: 24px;
    font-size: 18px;
    line-height: 127%;
    letter-spacing: 0.005em;
    color: #222000;
}

.purshace section {
    padding: 15px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.purshace-service-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.purshace .purshace-service:last-of-type {
    margin-left: 24px;
    display: flex;
    align-items: center;
    padding: 6px 65px;
}

.purshace .purshace-service,
.purshace .purshace-btn {
    background-color: #f6f6f6;
    border-radius: 8px;
    padding: 6px 24px;
    align-items: center;
}

.purshace .purshace-service:first-of-type {
    display: flex;
    justify-content: space-around;
}

.purshace .purshace-service:first-of-type {
    width: 40%;
}

.purshace .purshace-service:first-of-type button {
    background: white;
    height: 28px;
    width: 28px;
}

.purshace .purshace-btn {
    padding: 6px 55px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
}

/*service-rating*/
.service-rating {
    font-size: 16px;
    line-height: 123%;
    letter-spacing: 0.005em;
    color: #222;
}

.service-rating section {
    padding: 15px;
    box-shadow: unset;
}

.service-rating .rating-stars-left i:last-of-type {
    color: #E6EAEF;
}

.service-rating .progress-bar {
    width: 80%;
    background: #E6EAEF;
    box-shadow: unset;
    margin-right: 24px;
}

.service-rating .progress-bar-fill,
.service-rating .progress-bar {
    border-radius: 6px;
    height: 10px;
}

.service-rating .progress-bar-fill {
    width: 80%;
    background: #FFCB31;
    border-radius: 6px 0px 0px 6px;
}

.service-rating section div:last-of-type {
    display: flex;
    align-items: center;
}

.service-rating .service-rating-container {
    display: grid;
}

.service-rating .left-side span:first-of-type,
.service-rating .left-side i {
    padding-right: 10px;
}

/*testimonials*/
.testimonials {
    margin-top: 16px;
    margin-bottom: 48px;
    padding: 30px 38px 120px 21px;
}

.testimonials ul li {
    display: inline-block;
}

.testimonials .review ul li:last-of-type p,
.testimonials .review ul li:last-of-type ul {
    position: relative;
    left: 57px;
}

.testimonials .review ul li:last-of-type ul {
    top: 10px;
}

.testimonials .review ul li:last-of-type p {
    top: 15px;
}

.testimonials ul li:last-of-type p {
    font-size: 14px;
    line-height: 17px;
    color: #222;
}

.testimonials li i:last-of-type {
    color: #E6EAEF;
}

.testimonials span {
    color: #555;
}

.testimonials ul .rating-stars-left {
    position: relative;
    top: 5px;
    left: 10px;
}

.testimonials .review .reviewer li:nth-of-type(2) {
    position: relative;
    bottom: 10px;
}

.testimonials ul p:last-of-type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-bottom: 14px;
    left: 10px;
    top: 10px;
    position: relative;
    text-wrap: balance;
    width: 90%;
}

.testimonials .review {
    margin-bottom: 16px;
    position: relative;
}

.testimonials .review:last-of-type {
    margin-top: 64px;
}

.testimonials form {
    position: absolute;
    width: 80%;
    top: 0;
}

.testimonials .review textarea {
    all: unset;
    background: #F6F6F6;
    border-radius: 8px;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #444;
    width: 100%;
    margin-left: 10px;
    padding: 20px 15px;
    margin-bottom: 16px;
}

.testimonials button {
    padding: 10px 35px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 123%;
    text-align: center;
    letter-spacing: 0.005em;
    margin-left: 10px;
}

/*suggested-service*/
.suggested-service .head ul li {
    display: inline;
}

.suggested-service .head ul .right {
    float: right;
}

.suggested-service .head ul .right span {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #444;
}

.suggested-service .cards .card {
    position: relative;
    background: #FFFFFF;
    border-radius: 15px;
}

.suggested-service .cards .card .favorite i {
    width: 42px;
    height: 42px;
    color: #696F79;
    font-size: 16px;
    padding: 13px;
    background: white;
    position: absolute;
    top: 18px;
    left: 11px;
}

.suggested-service .cards .card-title {
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #222;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 12px;
    margin: 16px 11px;
}

.suggested-service .card ul {
    margin: 16px 11px;
}

.suggested-service .card ul li {
    display: inline-block;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #444;
}

.suggested-service .card ul:first-of-type li:last-of-type {
    margin-left: 10px;
}

.suggested-service .card ul:last-of-type {
    padding-bottom: 19px;
}

.suggested-service .card ul:last-of-type li {
    font-size: 12px;
    line-height: 14px;
    color: #222;
}

.suggested-service .card ul:last-of-type li:last-of-type {
    float: right;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #222;
}

.suggested-service .favorite i.fa.fa-heart {
    display: none;
}

.suggested-service .card:last-of-type .card-body .favorite i.fa.fa-heart {
    color: #FF5353;
}

.card-content ul:last-of-type li:first-of-type span {
    position: relative;
    bottom: 10px;
}

.suggested-service img {
    max-width: 100%;
}

/*righ side****************/
.right-side-container {
    padding-top: 64px;
}

.boxes .box {
    padding: 18px 20px;
    margin-bottom: 32px;
}

.boxes .box b,
.boxes .box ul li,
.boxes .box p {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #222;
}

.boxes .box ul li,
.boxes .box p {
    font-weight: 500;
    font-size: 14px;
}

.box.info b,
.box.info ul {
    padding-bottom: 20px;
}

.box.info ul:first-of-type {
    padding-top: 20px;
}

.boxes .box ul li {
    font-weight: 600 !important;
}

.boxes .box:first-of-type ul {
    padding: 16px 0 20px 0;
    display: table;
    margin: 0 auto;
    text-align: center;
}

.seller {
    padding-bottom: 0 !important;
}

.seller li:nth-of-type(2) {
    position: relative;
    bottom: 30px;
    left: 40px;
}

.seller li:nth-of-type(2) i {
    position: relative;
    top: 15px;
    right: 15px;
    color: #1DBF73;
}

.seller li:nth-of-type(2) i:last-of-type {
    left: -31px;
    font-size: 15px;
    color: #fff;
}

.seller li:nth-of-type(3) i:first-of-type {
    color: #1DBF73;
}

.seller li:nth-of-type(3),
.seller li:nth-of-type(3) span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #444 !important;
}

.seller li:nth-of-type(4) i {
    color: #FFCB31;
}

.seller li:nth-of-type(4) i:last-of-type {
    color: #E6EAEF;
}

.seller li:nth-of-type(4) span {
    color: #696F79 !important;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.15px;
    font-weight: 400;
}

.seller li:nth-of-type(3),
.seller li:nth-of-type(4) {
    position: relative;
    bottom: 10px;
}

.boxes .box:nth-of-type(2) p {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #333333;
}

.boxes .box:first-of-type ul li {
    display: inline;
}

.boxes .box:first-of-type ul p {
    margin-bottom: 32px;
}

.boxes .box:first-of-type button {
    padding: 8px 55px;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.005em;
    margin-top: 22px;
}

.boxes .box:nth-of-type(2) ul li {
    display: inline;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #222;
}

.boxes .box:nth-of-type(2) ul li i {
    color: #696F79;
    margin-right: 10px;
}

.boxes .box:nth-of-type(2) ul li:last-of-type {
    float: right;
}

.boxes .box:nth-of-type(3) ul {
    display: table;
    margin: 20px auto;
}

.boxes .box:nth-of-type(3) ul li {
    display: inline;
    padding: 2px;
}

.boxes .box:nth-of-type(3) ul li img {
    max-width: 32px;
}

.boxes .last-box img {
    width: 100%;
    height: auto;
    display: block;
}

.boxes .last-box .head .left {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #1E1E1E;
}

.boxes .last-box .head .right {
    float: right;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #444;
    position: relative;
    top: 10px;
}

.boxes .last-box li {
    display: inline;
}

.boxes .last-box section {
    padding: 20px;
}

.boxes .last-box section ul li:first-of-type {
    float: left;
}

.boxes .last-box section li:nth-of-type(2) p {
    padding-left: 58px;
}

.boxes .last-box section {
    padding: 0;
    margin-bottom: 10px;
}

.suggested-service .cards .card:hover .favorite i.fa.fa-heart-o {
    display: none;
}

.suggested-service .cards .card:hover .favorite i.fa.fa-heart {
    display: inline;
}

.boxes .last-box section .img-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: auto;
}

.boxes .last-box section .img-container picture {
    height: 100%;
    overflow: hidden;
}

.boxes .last-box section .img-container span {
    font-size: 12px;
    line-height: 14px;
    color: #1E1E1E;
}

.boxes .last-box section .img-container .other-service-content span {
    font-size: 12px;
    line-height: 14px;
    color: #1E1E1E;
}

.boxes .last-box .other-service-content {
    flex: 0 0 60%;
    padding-left: 4px;
}

.boxes .last-box .other-service-content ul {
    position: relative;
    top: 8px;
    right: 4px;
    display: flex;
    justify-content: space-around;
}

.boxes .last-box .img-container i.fa.fa-heart {
    display: none;
}

.boxes .last-box .img-container:hover i.fa.fa-heart-o {
    display: none;
}

.boxes .last-box .img-container:hover i.fa.fa-heart {
    display: inline;
    color: #FF5353;
}

/*framworks*/
.left-content .service-section .rating-stars-left span {
    color: #696F79;
}

.left-content .service-section p,
.description b,
.head {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #222;
}

.left-content .service-section p:first-of-type,
.left-content .service-section p:last-of-type,
.service-add-ons,
.service-add-ons label,
.purshace .head,
.service-rating .head,
.suggested-service .head,
.boxes .last-box .head {
    margin-bottom: 24px;
}

.service-add-ons section,
.description .description-content,
.purshace section,
.service-rating .service-rating-container,
.testimonials,
.boxes .box,
.boxes .last-box section {
    border-radius: 15px;
    background-color: white;
}

section,
.description .description-content,
.service-rating-container,
.testimonials,
.boxes .box,
.suggested-service .cards .card {
    box-shadow: 0px 3px 40px -5px rgba(32, 32, 32, 0.07);
}

.service-add-ons input,
.purshace .purshace-service:first-of-type button,
.suggested-service .cards .card .favorite i {
    border-radius: 50%;
}

.boxes .box:first-of-type button,
.purshace .purshace-btn,
.testimonials button,
::selection {
    background: #1DBF73;
    color: #111;
}

.service-add-ons section span,
.purshace .purshace-service:first-of-type button,
.suggested-service .card ul:last-of-type li:last-of-type i,
.boxes .last-box .other-service-content ul li i.fa.fa-tag {
    color: #1DBF73;
}

.left-content .service-section .rating-stars-left i,
.service-rating i,
.testimonials i,
.suggested-service .card ul:first-of-type li:first-of-type i,
.boxes .box:first-of-type span,
.boxes .last-box .other-service-content ul li i.fa.fa-star {
    color: #FFCB31;
}

.purshace,
.suggested-service .cards .card-title,
.suggested-service .card ul:last-of-type li,
.suggested-service .card ul:last-of-type li:last-of-type,
.boxes .last-box .head .left,
.boxes .last-box section .img-container span,
.boxes .last-box section .img-container .other-service-content span,
.left-content .service-section p,
.description b,
.head,
.boxes .box b,
.boxes .box ul li,
.boxes .box p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}

.testimonials ul li:last-of-type p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

.left-content .service-section .rating-stars-left,
.description .description-content,
.service-add-ons .right,
.service-add-ons label,
.service-add-ons section span,
.service-rating,
.testimonials button,
.suggested-service .head ul .right span,
.suggested-service .card ul li,
.boxes .box:first-of-type button,
.boxes .box:nth-of-type(2) ul li,
.boxes .last-box .head .right,
.dropdown-menu li a,
.boxes .box:first-of-type p,
.dark-mode li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

.testimonials .review textarea,
.seller li:nth-of-type(3) span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

#dark

/*right_to_left page*/
#right_to_left .dropdown-menu {
    right: unset;
}

#right_to_left .navbar .langs::after {
    content: "";
    white-space: pre-line;
}

#right_to_left .navbar .settings::before {
    content: "\A\A";
    white-space: pre-line;
}

#right_to_left .service-section,
#right_to_left .description,
#right_to_left .service-add-ons,
#right_to_left .purshace,
#right_to_left .service-rating,
#right_to_left .testimonials,
#right_to_left .suggested-service,
#right_to_left .boxes {
    text-align: right;
}

#right_to_left .description .description-content {
    padding: 15px;
}

#right_to_left .toggle-theme-color li:first-of-type {
    position: relative;
}

#right_to_left .service-add-ons input {
    float: unset;
}

#right_to_left .service-add-ons input::after {
    right: 3px;
}

#right_to_left .purshace .purshace-service:last-of-type {
    margin-right: 24px;
}

#right_to_left .service-rating .progress-bar {
    margin-left: 24px;
    margin-right: 0;
}

#right_to_left .service-rating .left-side span:first-of-type,
.service-rating .left-side i {
    padding-left: 10px;
    padding-right: 0;
}

#right_to_left .service-rating .progress-bar-fill {
    border-radius: 6px;
}

#right_to_left .testimonials ul p:last-of-type,
#right_to_left .testimonials ul .rating-stars-left {
    right: 10px;
}

#right_to_left .seller li:nth-of-type(2) i:last-of-type {
    right: 15px;
}

#right_to_left .seller li:nth-of-type(2) i {
    right: 32px;
}

#right_to_left .boxes .box:nth-of-type(2) ul li:last-of-type,
#right_to_left .suggested-service .card ul:last-of-type li:last-of-type,
#right_to_left .suggested-service .head ul .right {
    float: left;
}

#right_to_left .boxes .last-box .other-service-content {
    right: 4px;
}

#right_to_left .boxes .last-box .other-service-content ul {
    right: 0;
}

.service-add-ons input:focus {
    outline: none;
}

#right_to_left {
    direction: rtl;
}

#right_to_left .service-rating section div:last-of-type {
    flex-direction: row-reverse;
}

#right_to_left .service-rating {
    direction: ltr;
}

#right_to_left .navbar-links-2 ul:first-child {
    flex-direction: row-reverse;
}

#right_to_left .carousel {
    direction: ltr;
}

#right_to_left .dropdown-menu {
    right: unset;
}

/*Media*/
.container,
.navbar {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding: 0;
}

.container:before,
.row:before,
.row:after,
.container:after {
    display: table;
    content: " ";
}

.col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-9,
.col-lg-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.container:after,
.row:after {
    clear: both;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .nav>li {
        padding: 6px 8px;
    }

    .boxes .box:nth-of-type(2) ul li:last-of-type {
        position: relative;
        top: 5px;
    }

    .boxes .box:first-of-type button {
        padding: 8px 25px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .boxes .box:nth-of-type(2) ul li {
        font-size: 10px;
    }

    .boxes .box:nth-of-type(3) ul li img {
        max-width: 26px;
    }

    .boxes .last-box .head .left,
    .boxes .last-box .head .right {
        font-size: 12px;
    }

    .boxes .last-box section .img-container .other-service-content span {
        font-size: 10px;
    }

    .boxes .last-box .other-service-content ul {
        font-size: 10px;
        top: 4px;
    }
}

@media only screen and (max-width: 1200px) {
    .suggested-service .cards .card .card-img-top {
        margin: auto;
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .suggested-service {
        position: relative;
        top: 48px;
    }

    .boxes .last-box .other-service-content ul {
        right: 40px;
    }

    .purshace .purshace-service:last-of-type {
        padding: 6px 40px;
    }

    .purshace .purshace-service,
    .purshace .purshace-btn {
        font-size: 10px;
        padding: 6px 14px;
    }

    #right_to_left .navbar {
        flex-direction: column;
        direction: ltr;
    }

    #right_to_left .navbar-links ul,
    #right_to_left .navbar-links-2 ul:first-child {
        flex-direction: column;
    }
}

@media only screen and (max-width: 767px) {
    .md-hidden 
    {
        display: block;
        width: 48px;
    }
    .xs-hidden
    {
        display: none;
    }
    .boxes .last-box section .img-container .other-service-content span {
        font-size: 10px;
    }

    .boxes .last-box .other-service-content ul {
        right: 30px;
    }

    ul.languages li:last-of-type img {
        padding-bottom: unset !important;
        left: 0 !important;
    }

    .dropdown-menu li:nth-of-type(3):hover a,
    .dropdown-menu li:nth-of-type(3):hover i,
    .settings:hover a {
        color: #1DBF73 !important;
    }

    .languages li:first-of-type {
        top: 4px !important;
        right: -78px !important;
    }

    #right_to_left .languages {
        right: -60px;
        top: 16px;
    }

    #right_to_left .languages li:last-of-type {
        float: left;
        position: relative;
        right: 87px;
    }

    #right_to_left .dropdown-menu .languages li:first-of-type {
        float: unset;
    }

    .dropdown-menu li.first-list {
        transform: translateX(-15%);
    }

    #right_to_left .dropdown-menu .toggle-theme-color i.fa.fa-circle {
        left: 4px;
    }

    #right_to_left .navbar .langs::after {
        content: "\A";
        white-space: pre-line;
    }

    #right_to_left .navbar .settings::before {
        content: "";
        white-space: pre-line;
    }

    #right_to_left .navbar-links-2 .dropdown-menu li {
        text-align: unset;
    }

    #right_to_left .dropdown-menu li.first-list {
        transform: translateX(0) !important;
    }

    #right_to_left .navbar-links-2 .dropdown-menu li.settings a {
        position: relative;
        right: 64px;
    }
}

@media (max-width: 991px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links,
    .navbar-links-2 {
        display: none;
        width: 100%;
    }

    .navbar-links ul,
    .navbar-links-2 ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li,
    .navbar-links-2 ul li {
        text-align: center;
    }

    .navbar-links.active,
    .navbar-links-2.active {
        display: flex;
    }

    .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .dropdown-menu .toggle-theme-color i.fa.fa-circle {
        left: -4px;
    }

    .dropdown-menu .toggle-theme-color li:last-of-type:active i.fa.fa-circle {
        left: 5px;
    }

    .dropdown-menu.active {
        max-width: 265px;
        right: unset !important;
    }

    .navbar .navbar-links-2 li span {
        bottom: 50%;
        right: 46%;
    }

    .dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #right_to_left .dropdown-menu li.first-list {
        transform: translateX(-15%);
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px !important;
    }

    .col-lg-3 {
        width: 25%;
        float: left;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .col-md-9 {
        width: 75%;
        float: left;
    }

    #right_to_left .col-md-9 {
        float: right;
    }

    .col-md-3 {
        width: 25%;
        float: left;
    }

    #right_to_left .col-md-3 {
        float: right;
    }
}
